# LLM API Configuration

[openrouter]
ENABLED=True
API_KEY=
MODEL_NAME=

[ollama]
ENABLED=False
API_BASE=http://localhost:11434
MODEL_NAME=

[openai]
ENABLED=false
API_KEY=
API_BASE=
MODEL_NAME=
