# LLM API Configuration

[openrouter]
ENABLED=True
API_KEY=
MODEL_NAME=

[ollama]
ENABLED=False
BASE_URL=http://localhost:11434
MODEL_NAME=

[openai]
ENABLED=false
API_KEY=
BASE_URL=
MODEL_NAME=
